{% extends "base.html" %}

{% block title %}Edit Company{% endblock %}

{% block content %}

<div class="container py-5">

    <div class="custom-card">

        <div class="d-flex align-items-center mb-3">

            <i class="bi bi-pencil-square text-primary" style="font-size: 32px;"></i>

            <h2 class="mb-0 ms-3">Edit Company</h2>

        </div>

        <hr>

        <form method="POST" enctype="multipart/form-data">

            {% csrf_token %}

            {{ form.as_p }}

            <button class="btn btn-primary-custom">
                <i class="bi bi-check-circle"></i> Save Changes
            </button>

        </form>

    </div>

</div>

{% endblock %}