{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}

<section class="auth-section">

<div class="container">

<div class="row align-items-center">

<div class="col-lg-6 auth-left">

<h1>Find Your Dream Job </h1>

<p>
Join thousands of professionals and discover exciting career opportunities with top companies.
</p>

<ul class="auth-features p-0">

<li><i class="bi bi-check-circle-fill"></i> 5000+ Active Jobs</li>

<li><i class="bi bi-check-circle-fill"></i> Trusted Companies</li>

<li><i class="bi bi-check-circle-fill"></i> Fast & Secure Platform</li>

</ul>

</div>

<div class="col-lg-6">

<div class="auth-card">

<h2 class="auth-title mb-4 text-center">

Welcome Back 

</h2>

<form method="POST">

{% csrf_token %}

<input type="hidden" name="next" value="{{ next }}">

<div class="mb-3">

<label>Email</label>

<div class="input-group">

<span class="input-group-text">

<i class="bi bi-envelope"></i>

</span>

{{ form.username }}
</div>

</div>

<div class="mb-3">

<label>Password</label>

<div class="input-group">

<span class="input-group-text">

<i class="bi bi-lock"></i>

</span>

{{ form.password }}

<button
class="btn btn-outline-secondary"
type="button"
id="togglePassword">

<i class="bi bi-eye"></i>

</button>

</div>

</div>

<div class="d-flex justify-content-between mb-4">

<div class="form-check">

<input
class="form-check-input"
type="checkbox"
id="remember">

<label
class="form-check-label"
for="remember">

Remember me

</label>

</div>

<a href="#">Forgot Password?</a>

</div>

<button
type="submit"
class="btn-primary-custom">

Login

</button>

<div class="auth-footer">

Don't have an account?

<a href="{% url 'register' %}">

Register

</a>

</div>

</form>

</div>

</div>

</div>

</div>

</section>

<script>

const togglePassword=document.getElementById("togglePassword");

const password=document.getElementById("id_password");

togglePassword.addEventListener("click",function(){

if(password.type==="password"){

password.type="text";

this.innerHTML='<i class="bi bi-eye-slash"></i>';

}else{

password.type="password";

this.innerHTML='<i class="bi bi-eye"></i>';

}

});

</script>

{% endblock %}