{% extends "base.html" %}

{% block title %}My Applications{% endblock %}

{% block content %}

<div class="container py-5">

  <h2 class="mb-4">My Applications</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Job</th>
        <th>Status</th>
        <th>AI Interview</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      {% for application in applications %}
      <tr>
        <td>{{ application.job.title }}</td>
        <td>{{ application.status }}</td>
        <td>
          {% if application.aiinterview.completed %}
            Score: {{ application.aiinterview.score }}/100
          {% else %}
            <a href="{% url 'start-interview' application.id %}" class="btn btn-sm btn-primary-custom">
              Take AI Interview
            </a>
          {% endif %}
        </td>
        <td>{{ application.applied_at }}</td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="4" class="text-center">You haven't submitted any applications yet.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>

{% endblock %}