<nav class="navbar navbar-expand-lg bg-white border-bottom shadow-sm">

    <div class="container-lg">

        <a class="navbar-brand fw-bold text-primary"
           href="/">

            JobPortal

        </a>

        <button class="navbar-toggler"
                data-bs-toggle="collapse"
                data-bs-target="#navbar">

            <span class="navbar-toggler-icon"></span>

        </button>

        <div class="collapse navbar-collapse"
             id="navbar">

            <ul class="navbar-nav ms-auto align-items-center">

                <li class="nav-item">
                    <a class="nav-link" href="#">Jobs</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Companies</a>
                </li>

                {% if user.is_authenticated %}

                    <li class="nav-item">
                        <a class="nav-link"
                           href="{% url 'dashboard' %}">

                            Dashboard

                        </a>
                    </li>

                    <li class="nav-item ms-3">

                        <a class="btn btn-primary-custom"
                           href="{% url 'logout' %}">

                            Logout

                        </a>

                    </li>

                {% else %}

                    <li class="nav-item ms-3">

                        <a class="btn btn-outline-primary"
                           href="{% url 'login' %}">

                            Login

                        </a>

                    </li>

                    <li class="nav-item ms-2">

                        <a class="btn btn-primary-custom"
                           href="{% url 'register' %}">

                            Register

                        </a>

                    </li>

{% endif %}